<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='description' content=''>
	<link rel='stylesheet' href='{{ url_for("static", filename="add_quote.css") }}'>
	<script></script>
	<title>rBP Add fav quote/title>
</head>

<body>
	<div class='wrapper'>
		<h1>Sup d00d. Add a quote you'd like to see on the homepage, you jabroni.</h1>
		<div class='add-quote'>
			<!-- make a form to add new quotes -->
		</div> <!-- end .add-quote -->
	</div> <!-- end wrapper -->
</body>

</html>