<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='description' content=''>
	<link rel='stylesheet' href='{{ url_for("static", filename="index.css") }}'>
	<script></script>
	<title>rBP Home</title>
</head>

<body>
	<div class='wrapper'>
		<h1>Sup d00d. I'm here to make sure you walk the walk, mahfq.</h1>
		<div class='quote'>
			<p>{{ session['random_quote'] }}</p>
		</div> <!-- end .quote -->
		<p class='add-quote'><a href='/add_quote'>Add new quote</a></p>
	</div> <!-- end wrapper -->
</body>

</html>

<!-- https://www.w3schools.com/bootstrap/bootstrap_collapse.asp -->
<!-- https://www.w3schools.com/howto/howto_js_accordion.asp -->

