<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta name='description' content=''>
	<link rel='stylesheet' href='{{ url_for("static", filename="index.css") }}'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src='{{ url_for("static", filename="index.js") }}'></script>
	<title>rBP Home</title>
</head>

<body>
	<div class='wrapper'>
		<!-- <h1>Sup d00d. I'm here to make sure you walk the walk, mahfq.</h1> -->
		<div class='quote-div'>
			<p class='quote'>{{ session['random_quote'] }}</p>
		</div> <!-- end .quote-div == bordered box that displays a quote -->


		<!-- 3/2/18 ja - i commented out .add-quote-div for now because i want to focus on building .schedule-activities  -->
		<div class='add-quote-div'>
			<button class='add-quote-accordion'>Add a new quote to rotation</button>
			<div class='add-quote-panel'>
				<form method='post' action='/add_quote'>
					New quote you'd like to add to the rotation: <input type='text' name='new_quote'>
					<input type='submit' value='Add this quote'>
				</form>
			</div> 
				<!-- <button class='add-quote'><a href='/add_quote' class='add-quote'>Add new quote</a></p>  -->
		</div> 

	
		<div class='schedule-activities-div'>
			<p><a href='/schedule_activities'>Schedule Upcoming Week's Activities</a></p>

		</div>

	</div> <!-- end wrapper -->
</body>

</html>

<!-- https://www.w3schools.com/bootstrap/bootstrap_collapse.asp -->
<!-- https://www.w3schools.com/howto/howto_js_accordion.asp -->

